body
{
	background: lightblue;
	text-align: center;
}

	.col-gl , .col-pl
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_usrnme , #player2_usrnme
{
	display: inline-block;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#player1_tag,#player2_tag{
	display: inline-block;
	text-align: left;
}